output/haber-detay.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>bensizalma.com | Haberler</title>
    <meta name="description" content="bensizalma.com | Haberler"/>
    <meta name="keywords" content="bensizalma.com | Haberler"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link rel="stylesheet" href="/output/public/dist/css/style.css"/>
  </head>
  <body><!-- header begin here -->
    <header class="header">
      <div class="container"><a class="header-logo" href="index.html">
          <h1>bensizalma.com</h1></a>
        <nav class="header-nav">
          <ul>
            <li><a href="arac-liste.html" title="Araçlar">Araçlar</a></li>
            <li><a href="#" title="Fırsatlar">Fırsatlar</a></li>
            <li><a href="#" title="Haberler">Haberler</a></li>
            <li><a href="#" title="Yardım">Yardım</a></li>
            <li class="login"><a href="#" title="Giriş Yap" data-toggle="login"><img src="/output/public/dist/img/svg/ico_login.svg"/>Giriş Yap</a>
              <div class="login-area" data-open="login"><a class="button button-normal button-fb button-space" href="#"><i class="fa fa-facebook"></i>Facebook ile giriş yapın</a><a class="button button-normal button-google button-space" href="#"><i class="fa fa-google"></i>Google ile giriş yapın</a>
                <div class="split"><span>veya</span></div>
                <form class="login-form validate-form">
                  <div class="form-item">
                    <input type="text" name="email" placeholder="E-mail" data-rule-required="true" data-rule-email="true"/>
                  </div>
                  <div class="form-item">
                    <input type="password" name="password" placeholder="Şifre" data-rule-required="true"/>
                  </div>
                  <div class="form-item">
                    <input class="button button-normal button-blue button-block" type="submit" value="Gönder"/>
                  </div>
                </form>
                <div class="form-item forgot-password"><a class="default-link" href="#sifremi-unuttum">Şifremi unuttum</a></div>
                <div class="form-item signin-block">Hesabınız yok mu?<a class="default-link" href="#kayit-ol">Kaydolun</a></div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header><!-- header end here -->
<!-- main content begin here -->
    <main class="main centerfix">
      <section class="centerfix page-image" style="background-image: url('/output/public/dist/img/content/about-us/slide-img.jpg')">
        <div class="container">
          <h1 class="page-title">Sıkça Sorulan Sorular</h1>
        </div>
      </section>
      <section class="centerfix static-page">
        <div class="container">
          <div class="faq-list">
            <h3 class="ask">bensizalma kimdir?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma sıfır araç alma sürecini basitleştiren ve fayda sağlamayı hedefliyor. Bizimle ilgili daha detaylı bilgiyi hakkımızda sayfasında bulabilirsiniz.</p>
            </div>
            <h3 class="ask">bensizalma hangi hizmetleri sunar?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma yeni araç alımları hizmeti sunar.</p>
            </div>
            <h3 class="ask">bensizalma'nın sunduğu hizmetler ücretli midir?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma'nın sunduğu hizmetler tamamen ücretsizdir.</p>
            </div>
            <h3 class="ask">Taleplerim ne kadar sürede cevaplanır?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma talepleri 1 - 3 iş günü içerisinde tamamlamayı hedeflemektedir.</p>
            </div>
            <h3 class="ask">bensizalma ne vadediyor?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma istediğiniz aracı satan yetkili satıcıların fiyatlarını temin edip mukayese ederek araç fiyatının olabilecek en iyi seviyede olmasını garanti altına almaya çalışır.</p>
            </div>
            <h3 class="ask">Kişisel bilgilerimin talep edilmesinin amacı nedir?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma Ad, Soyad ve kimlik no, telefon email vb bilgileri talep sahibinin gerçekliğini garanti altına almak için kullanır.</p>
              <p>Sizin için yetkili satıcılardan fiyat teklifi alırken Ad Soyad bilgileriniz paylaşılarak teklif talebiniz kaydedilmektedir.</p>
              <p>Hiçbir banka yada kredi kartı bilgisi bensizalma aracılığı ile talep edilmemektedir. Detaylı bilgi için kullanıcı sözleşmesini inceleyebilirsiniz.</p>
            </div>
            <h3 class="ask">bensizalma'da görülen fiyat bilgileri aracın satış fiyatları mıdır?<i class="fa fa-arrow-down"></i></h3>
            <div class="content">
              <p>bensizalma da görülen fiyatlar araç markalarının kendi web sitelerinde de paylaştıkları tavsiye edilen satış fiyatlarıdır.</p>
              <p>bensizalma yetkili satıcılardan sizin için alacağı fiyatları talebinizi oluşturduktan sonra sizinle paylaşmaktadır.</p>
            </div>
          </div>
        </div>
      </section>
    </main><!-- footer begin here -->
    <footer class="footer centerfix">
      <div class="container"><a class="footer-copyright" href="index.html">Ⓒ Bensizalma</a>
        <ul class="footer-social">
          <li><a href="#" title="bensizalma.com youtube"><img src="/output/public/dist/img/svg/ico_social_youtube.svg"/></a></li>
          <li><a href="#" title="bensizalma.com instagram"><img src="/output/public/dist/img/svg/ico_social_insagram.svg"/></a></li>
          <li><a href="#" title="bensizalma.com facebook"><img src="/output/public/dist/img/svg/ico_social_facebook.svg"/></a></li>
          <li><a href="#" title="bensizalma.com twitter"><img src="/output/public/dist/img/svg/ico_social_twitter.svg"/></a></li>
        </ul>
      </div>
    </footer><!-- footer end here -->
<!-- Kayıt ol popup -->
    <div class="hidden">
      <div class="modal" id="kayit-ol">
        <h1>Kayıt Ol</h1>
        <p><a class="default-link default-link-big" href="#">Facebook&nbsp;</a>veya&nbsp;<a class="default-link default-link-big" href="#">Google&nbsp;</a>ile kaydolun</p>
        <div class="split"><span>veya</span></div>
        <form class="signin-form validate-form">
          <div class="form-item">
            <input type="text" placeholder="E-mail" name="email" data-rule-required="true" data-rule-email="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Ad" name="name" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Soyad" name="surname" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="T.C. Kimlik No." name="tc" maxlength="11" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Telefon Numarası" name="phone" maxlength="11" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <input type="password" placeholder="Şifre oluştur" name="password" data-rule-required="true"/>
          </div><span class="birtday-title">Doğum günü</span>
          <div class="select-item form-item">
            <div class="select">
              <select name="day">
                <option value="">Gün</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
              </select>
            </div>
            <div class="select">
              <select name="day">
                <option value="">Ay</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="select">
              <select name="day">
                <option value="">Yıl</option>
                <option value="1950">1950</option>
                <option value="1951">1951</option>
                <option value="1952">1952</option>
                <option value="1953">1953</option>
                <option value="1954">1954</option>
                <option value="1955">1955</option>
                <option value="1956">1956</option>
                <option value="1957">1957</option>
                <option value="1958">1958</option>
                <option value="1959">1959</option>
                <option value="1960">1960</option>
                <option value="1961">1961</option>
                <option value="1962">1962</option>
                <option value="1963">1963</option>
                <option value="1964">1964</option>
                <option value="1965">1965</option>
                <option value="1966">1966</option>
                <option value="1967">1967</option>
                <option value="1968">1968</option>
                <option value="1969">1969</option>
                <option value="1970">1970</option>
                <option value="1971">1971</option>
                <option value="1972">1972</option>
                <option value="1973">1973</option>
                <option value="1974">1974</option>
                <option value="1975">1975</option>
                <option value="1976">1976</option>
                <option value="1977">1977</option>
                <option value="1978">1978</option>
                <option value="1979">1979</option>
                <option value="1980">1980</option>
                <option value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
              </select>
            </div>
          </div>
          <div class="form-item">
            <label class="checkbox-label">
              <div class="checkbox">
                <input type="checkbox" name="agreement" data-rule-required="true"/><span></span>
              </div><a href="#" class="default-link default-link-big">Kullanıcı sözleşmesi</a>’ni okudum, kabul ediyorum.
            </label>
          </div>
          <div class="form-item">
            <input class="button button-normal button-blue button-block" type="submit" value="Kaydol"/>
          </div>
        </form>
      </div>
    </div><!-- İletişim popup -->
    <div class="hidden">
      <div class="modal" id="iletisim">
        <h1>İletişim</h1>
        <form class="contact-form validate-form" action="/contact-form" data-endpoint="/contact-form">
          <div class="form-item">
            <input type="text" placeholder="E-mail" data-rule-required="true" data-rule-email="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Ad" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Soyad" data-rule-required="true"/>
          </div>
          <div class="form-item">
            <textarea placeholder="Mesajınız
 asdfasdf asdf asdfasdf" data-rule-required="true"></textarea>
          </div>
          <div class="form-item">
            <input class="button button-normal button-blue button-big-text button-block" type="submit" value="Gönder"/>
          </div>
        </form>
      </div>
    </div><!-- Şifremi unuttum popup -->
    <div class="hidden">
      <div class="modal" id="sifremi-unuttum">
        <h1>Şifremi Unuttum</h1>
        <form class="contact-form validate-form" data-success-msg="Şifre yenileme maili başarıyla gönderildi." data-endpoint="/forgot-password">
          <div class="form-item">
            <input type="text" data-rule-required="true" data-rule-email="true" name="email" placeholder="E-mail"/>
          </div>
          <div class="form-item">
            <input class="button button-normal button-blue button-big-text button-block" type="submit" value="Şifre oluştur"/>
          </div>
        </form>
      </div>
    </div>
    <script>var root = "http://167.99.105.60/bensizalma/current/web";</script>
    <script type="text/javascript" src="/output/public/dist/js/bundle.js"></script>
  </body>
</html>

views/haber-detay.pug
extends layout/layout

block head
	- var title = "bensizalma.com | Haberler";
	- var description = "bensizalma.com | Haberler";
	- var keywords = "bensizalma.com | Haberler";

block content
	section.centerfix.page-image(style="background-image: url('"+prefix+"img/content/about-us/slide-img.jpg')")
		.container
			h1.page-title Sıkça Sorulan Sorular
	section.centerfix.static-page
		.container
			.faq-list
				h3.ask bensizalma kimdir?
					i.fa.fa-arrow-down
				.content
					p bensizalma sıfır araç alma sürecini basitleştiren ve fayda sağlamayı hedefliyor. Bizimle ilgili daha detaylı bilgiyi hakkımızda sayfasında bulabilirsiniz.
				h3.ask bensizalma hangi hizmetleri sunar?
					i.fa.fa-arrow-down
				.content
					p bensizalma yeni araç alımları hizmeti sunar.
				h3.ask bensizalma'nın sunduğu hizmetler ücretli midir?
					i.fa.fa-arrow-down
				.content
					p bensizalma'nın sunduğu hizmetler tamamen ücretsizdir.
				h3.ask Taleplerim ne kadar sürede cevaplanır?
					i.fa.fa-arrow-down
				.content
					p bensizalma talepleri 1 - 3 iş günü içerisinde tamamlamayı hedeflemektedir.
				h3.ask bensizalma ne vadediyor?
					i.fa.fa-arrow-down
				.content
					p bensizalma istediğiniz aracı satan yetkili satıcıların fiyatlarını temin edip mukayese ederek araç fiyatının olabilecek en iyi seviyede olmasını garanti altına almaya çalışır.
				h3.ask Kişisel bilgilerimin talep edilmesinin amacı nedir?
					i.fa.fa-arrow-down
				.content
					p bensizalma Ad, Soyad ve kimlik no, telefon email vb bilgileri talep sahibinin gerçekliğini garanti altına almak için kullanır.
					p Sizin için yetkili satıcılardan fiyat teklifi alırken Ad Soyad bilgileriniz paylaşılarak teklif talebiniz kaydedilmektedir.
					p Hiçbir banka yada kredi kartı bilgisi bensizalma aracılığı ile talep edilmemektedir. Detaylı bilgi için kullanıcı sözleşmesini inceleyebilirsiniz.
				h3.ask bensizalma'da görülen fiyat bilgileri aracın satış fiyatları mıdır?
					i.fa.fa-arrow-down
				.content
					p bensizalma da görülen fiyatlar araç markalarının kendi web sitelerinde de paylaştıkları tavsiye edilen satış fiyatlarıdır.
					p bensizalma yetkili satıcılardan sizin için alacağı fiyatları talebinizi oluşturduktan sonra sizinle paylaşmaktadır.
